AZURE_ADMIN_LEASE_CONTAINER_NAME=admin-operation-leases
AZURE_ADMIN_OPERATION_TABLE_NAME=AdminOperations
AZURE_DEV_ENVIRONMENT_TABLE_NAME=DevelopmentEnvironmentLogins
AZURE_RESOURCE_GROUP=ArsElectronicaHackathon
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_BLOB_ENDPOINT=
AZURE_STORAGE_TABLE_ENDPOINT=
AZURE_STORAGE_TABLE_NAME=AccessCodes
AZURE_SUBSCRIPTION_ID=
AZURE_SUBSCRIPTION_NAME=
AZURE_TENANT_ID=
HOST=127.0.0.1
OPENROUTER_GUARDRAIL_ID=
OPENROUTER_MANAGEMENT_KEY=
OPENROUTER_ACCOUNT_NAME=
OPENROUTER_WORKSPACE_ID=
PORT=3000
